<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>帮妈妈倒垃圾</string>
	<string>帮妈妈洗碗</string>
	<string>照看小弟弟</string>
	<string>给爸爸端洗脚水</string>
	<string>给爸爸刮胡子</string>
	<string>帮妈妈端菜</string>
</array>
</plist>
