<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>扶老奶奶过马路</string>
	<string>捡起地上的垃圾</string>
	<string>给妈妈打酱油</string>
	<string>陪妈妈买菜</string>
	<string>买玩具</string>
	<string>买小吃</string>
	<string>卖废品</string>
</array>
</plist>
